#result{
 
 color: white;

}


    /* テーブルの装飾 */
    table {
      /* 電卓のサイズ */
     
      /* 電卓が浮き出るように影を付ける */
      border: solid 1px #dcdcdca4;
      border-right: solid 4px #dcdcdca4;
      border-bottom: solid 4px #dcdcdca4;
      border-radius: 5px;
      /* インライン要素を中央に配置 */
      text-align: center;
      
      /* 余白調整 */
  
     
     
    }
 
    .button{
      width:70px;
      
    color: white；
    }
    #A,#B{
      width:100%;
    }
    /* ディスプレイの詳細設定 */
    .display {
       background-color: black;
      width: 300px;
  height: 30px;

    text-align: right;

}

    
    
    
 
    /* カーソルを上に乗せた時に色を濃くする */
    input:hover {
      background: #747373b9;
    }
    .display:hover {
      background: #ffffff; /* ディスプレイ部分は無効化 */
    }
    .operator:hover {
      background: #339cdd;
    }
 
    /* クリック時に色を濃くする */
    input:active {
      background:  #5a5a5a;
    }
    .operator:active {
      background: #2c80b4;
    }
    table{
      table-layout: fixed;
    }
      td{
      width: 24px;
      height:50;
    }
   
  